@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #e5e5e5 !important;
}

* {
    font-family: 'Poppins', sans-serif;
}

a,
button {
    text-decoration: none !important;
    color: #0176c4;
}

.nav-bar {
    display: flex;
    padding: 10px;
    gap: 200px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.MD-div {
    border-radius: 50%;
    padding: 10px;
    background-color: #ff6767;
    color: white;
}

.doctor-profile {
    background-color: white;
    display: flex;
    align-items: center;
    border-top: 1px solid grey;
    border-radius: 5px 5px 0px 0px;
    height: 150px;
    margin: auto;
    padding: 20px 40px;
    gap: 50px;
}

.profile-pic {
    width: 80px;
    height: 80px;
}

.profile-info * {
    margin: 0px;
    padding: 0px;
}

.profile-name {
    font-weight: 500;
}

.specialty {
    font-size: 12px;
}

.profile-info button {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #0176c4;
    padding: 5px;
    color: #0176c4;
    margin-top: 10px;
    font-weight: 500;
}

.help-div {
    padding: 50px;
    background-color: #ddf198;
}

.faq {
    font-size: 30px;
    margin-bottom: 30px;
}

#accordion .card {
    border-radius: 0%;
    width: 75%;
    margin: 10px auto;
}

#accordion .card-header {
    margin: 0px;
    padding: 0px;
}

#accordion div div h5 button {
    color: #8b8080;
    margin: auto;
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
}

.apppointment-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 15px;
    width: 50%;
    height: 200px;
    margin: auto;
}

.apppointment-div p {
    font-size: 14px;
    margin: 10px;
}

.appointment-icon-div {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.appointment-icon-div div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
}

.appointment-icon-div div:hover {
    cursor: not-allowed;
}

.appointment-icon-div div svg {
    width: 70px;
    height: 70px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

.appointment-icon-div div:nth-child(1) svg {
    background: #64bc6e;
    color: white;
    padding: 15px;
}

.in-clinic {
    cursor: pointer !important;
}

.clinic-container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 15px;
}

.clinic-container p {
    font-weight: bold;
}

.slots-container {
    display: flex;
    width: 50%;
    margin: auto;
    text-align: center;
    justify-content: space-evenly;
    background: white;
}

.slots-container .date {
    font-size: 14px;
    font-weight: bold;
}

.availability {
    font-size: 12px;
    color: #64bc6e;
}

.available {
    border-bottom: 3px solid #64bc6e !important;
}

.available:hover {
    cursor: pointer;
}

.no-slots:hover {
    cursor: not-allowed;
    user-select: none;
}


.slot-table-container {
    background-color: white;
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
    height: 220px;
}

.slot-table {
    display: grid;
    grid-template-columns: 32% 33% 32%;
    grid-template-rows: 30% 30% 30%;
    height: fit-content;
    background: white;
    border-top: 1px solid gainsboro;
    margin: auto !important;
    padding: 20px 0px 0px;
}

.slot-table button {
    margin-top: 3%;
    margin-left: 8%;
    color: black;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 8px;
    font-size: 12px;
    text-decoration: none;
    padding: 10px;
}


.continue-btn {
    float: right;
    margin-top: 0px;
    margin-right: 30px;
    width: 150px;
    color: white;
    text-decoration: none;
    padding: 5px 0px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background: gray;
}


/*
#64bc6e
background:;
*/